<div id="weather" data-id="<%=weather.display_location%>" class="col-md-5">
	<h1>Denver</h1>
	
  <h4 class="card-title">Conditions: <%=weather.weather%></h4>

  <h6 class="card-subtitle mb-2">Temperature: <%=weather.temperature_string%> 
  	<button class="btn btn-danger" value="delete" action="delete">delete</button> 
  	<br> 
  	<br>
  	Humidity: <%=weather.relative_humidity%> 
  	<button class="btn btn-danger" value="delete" method="delete">delete</button> 
  	<br> 
  	<br>
  	Wind mph: <%=weather.wind_mph%> 
  	<button class="btn btn-danger" value="delete">delete</button> 
  	<br>
  	<br>
  	<%=weather.icon%> 
  	<button class="btn btn-danger" value="delete">delete</button>
  	</h6>
</div>    

<div id="form" class="col-md-5">
	<form data-id="<%=weather.comments%>" method="POST" action="commentGrabber" id="newCommentForm">
	    <div id="comment" class="form-group">
	      <label for="title">Enter a comment!:</label>
	      <input type="text" class="form-control" name="title" placeholder="Comment">
	    </div>
	    <button type="submit" value="Post" class="btn btn-success">Submit</button>
    </form>
</div>

<div id="comments" class="col-md-5">
	<h3>Comments:</h3>
	 <%for (let index = 0; index < weather.comments.length; index++) { %>
	   <ul>
	     <li><%=weather.comments[index]%></li>
	   </ul> 
	<% } %>

</div>	



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
	var form = $('#newCommentForm');

	 	$("form").on("submit", function(event) {
	         event.preventDefault();
	          
	         var formData = $(this).serialize();
	          console.log(formData);
	          console.log($(this).attr("data-id"));
	          

	          console.log($("input[name=title]").val());
	        
	          var comment = $("input[name=title]").val();

	       $.post('/commentGrabber/:id', comment).done(function(responseData) {
	            console.log(responseData);
	       });
	    }); 
</script>	          