<div id="weather" data-id="<%=weather.display_location%>" class="col-md-5">
	<h1>Denver, CO</h1>
	
  <h4 class="card-title">Conditions: <%=weather.weather%></h4>

  <ul>

  <li id="weth-1" class="removable"><h6 class="card-subtitle mb-2">Temperature: <%=weather.temperature_string%></h6> 
  	<button id="delete1" class="btn btn-danger" value="delete" action="/delete">delete</button> 
  </li>
  	

  <li id="weth-2" class="removable">
  	<h6>Humidity: <%=weather.relative_humidity%></h6> 
  	<button id="delete2" class="btn btn-danger" value="delete" method="delete">delete</button> 
  </li>
  <li id="weth-3" class="removable">
  	<h6>Wind mph: <%=weather.wind_mph%> </h6>
  	<button id="delete3" class="btn btn-danger" value="delete">delete</button> 
  </li>
  <li id="weth-4" class="removable">	
  	<h6><%=weather.icon%> </h6>
  	<button id="delete4" class="btn btn-danger" value="delete">delete</button>
  </li>	
</div>    

<div id="form" class="col-md-5">
	<form data-id="<%=weather.comments%>" method="POST" action="commentGrabber" id="newCommentForm">
	    <div id="comment" class="form-group">
	      <label for="comment">Enter a comment!:</label>
	      <input id="commentBox" type="text" class="form-control" name="comment" placeholder="Comment">
	    </div>
	    <button id="submit-btn" type="submit" value="Post" class="btn btn-success">Submit</button>
    </form>
</div>

<div id="comments" class="col-md-5">
	<h3>Comments:</h3>
	 
	   <ul id="comments-ul">
	     <li class="comment-list">first comment!</li>
	     <li class="comment-list">second comment!</li>
	   </ul> 
	

</div>	



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">

var mongoDB = 'mongodb://heroku_sz82z631:f16s2jen6rmoltuqm5ntv4m66c@ds135747.mlab.com:35747/heroku_sz82z631';

var input = $('#commentBox').val();

	$(document).ready(function() {

		$('#delete1').click(function() {
			$(this).parent().remove();
		});

		$('#delete2').click(function() {
			$(this).parent().remove();
		});

		$('#delete3').click(function() {
			$(this).parent().remove();
		});

		$('#delete4').click(function() {
			$(this).parent().remove();
		});


		var form = $('#newCommentForm');

		 	$(form).on("submit", function(event) {
		         event.preventDefault();
		          
		         var formData = $(this).serialize();
		          console.log(formData);
		          console.log($(this).attr("data-id"));
		          

		          console.log($("input[name=title]").val());
		        
		          var comment = $("input[name=title]").val();
		        
		        $.ajax({
		        	type: "POST",
		        	url: '/comments',
		        	data: { input }

		        });
		        

		        return false;
		          


		    });
	});
</script>	          