<div id="weather" data-id="<%=weather.display_location%>" class="col-md-5">
	<h1><%=weather.display_location.full%></h1>
	<h3><%=weather.display_location.elevation%> ft. above sea level</h3>
  <h4 class="card-title">Conditions: <%=weather.weather%></h4>

  <h6 class="card-subtitle mb-2">Temperature: <%=weather.temperature_string%> 
  	<button class="btn btn-danger" value="delete">delete</button> 
  	<br> 
  	<br>
  	Humidity: <%=weather.relative_humidity%> 
  	<button class="btn btn-danger" value="delete">delete</button> 
  	<br> 
  	<br>
  	Wind mph: <%=weather.wind_mph%> 
  	<button class="btn btn-danger" value="delete">delete</button> 
  	<br>
  	<br>
  	<%=weather.icon%> 
  	<button class="btn btn-danger" value="delete">delete</button>
  	</h6>
</div>    

<div id="form" class="col-md-5">
	<form class="form-inline" id="newBookForm">
	    <div id="comment" class="form-group">
	      <label for="title">Enter a comment!</label>
	      <input type="text" class="form-control" name="title" placeholder="Comment">
	    </div>
	    <div id="name" class="form-group">
	      <label for="title">Name</label>
	      <input type="text" class="form-control" name="author" placeholder="Name">
	    </div>
	    <button type="submit" value="Post" class="btn btn-success">Submit</button>
    </form>

    

</div>